             </div>
        </div>
</main>


        <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



  


<div class="row bottom footer" id="footer">
  
  <div class="left col-xm-3">
    <hr>
    <ul>
      <a>
        <li>Legal</li>
      </a>
      <a>
        <li>Quien Somos</li>
      </a>
      <a>
        <li>Sitemap</li>
      </a>
      <a>
        <li>Terminos</li>
      </a>
    </ul>
  </div>
  
<div class="middle col-xm-3">
<div class="icons-foot">
<i class="fi-cwluxl-facebook-circle"></i>
<i class="fi-xnsuxl-whatsapp"></i>
<i class="fi-cnluxl-twitter"></i>
</div>
  
  <p>&copy2020 Jiyu Dev</p>
  
 </div>
 
  <div class="right col-xm-3">
    <hr>
    
    <ul>
      <a>
        <li>Legal</li>
      </a>
      <a>
        <li>Quien Somos</li>
      </a>
      <a>
        <li>Sitemap</li>
      </a>
      <a>
        <li>Terminos</li>
      </a>
    </ul>
  </div>

</div>


<!-- /.container -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>

<script defer src="https://friconix.com/cdn/friconix.js"> </script>



</body>

</html>